/* Program colors */

.draw{
  color:#ed1b24;
}

.read{
  color:#f37020;
}

.write{
  color:#f89f1c;
}

.discuss{
 color:#f596c0;
}

.present{
  color:#f7b1a9;
}
.make{
  color:#6299d3;
}
.lecture{
  color:#0091d5;
}
.render{
  color:#2f3192;
}
.celebrate{
  color:#792d80;
}
.critique{
  color:#b61e8d;
}
.plot{
  color:#ee1067;
}

.diagram{
  color:#ed1b24;
}

.photoraph{
  color:#ed1b24;
}
.exhibit{
  color:#f37020;
}
.install{
  color:#f89f1c;
}
.teach{
  color:#f596c0;
}
.test{
  color:#f7b1a9;
}
.learn{
  color:#6299d3;
}
.spray{
  color:#0091d5;
}
.sleep{
  color:#2f3192;
}
.smile{
  color:#792d80;
}
