/* Program colors */

.program0{
  color:#792d80;
}

.program1{
  color:#ed1b24;
}

.program2{
  color:#f37020;
}

.program3{
  color:#f89f1c;
}

.program4{
 color:#f596c0;
}

.program5{
  color:#f7b1a9;
}
.program6{
  color:#6299d3;
}
.program7{
  color:#0091d5;
}
.program8{
  color:#2f3192;
}
.program9{
  color:#792d80;
}
.program10{
  color:#b61e8d;
}
.program11{
  color:#ee1067;
}

.program12{
  color:#ed1b24;
}

.program13{
  color:#ed1b24;
}
.program14{
  color:#f37020;
}
.program15{
  color:#f89f1c;
}
.program16{
  color:#f596c0;
}
.program17{
  color:#f7b1a9;
}
.program18{
  color:#6299d3;
}
.program19{
  color:#0091d5;
}
.program20{
  color:#2f3192;
}
.program21{
  color:#792d80;
}
