

.front #wrapper{
  margin-left: 400px;
}

.front #tmpltzr{
  max-width:100%;
}

.span3{
  width:33%;
  float:left;
  display:block;
}

.left{
  text-align:left;
}

.center{
  text-align:center;
}

.right{
  text-align:right;
}

.gradient {
  opacity:0.5;
  display:block;
  height:10000%;
  width:76%;
  position:fixed;
  z-index:-100;
  top:0;
  left:15%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 0%, #ed1b24 48%, #ed1b24 52%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(48%,#ed1b24), color-stop(52%,#ed1b24), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(left, #ffffff 0%,#ed1b24 48%,#ed1b24 52%,#ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 0%,#ed1b24 48%,#ed1b24 52%,#ffffff 100%);
  background: -ms-linear-gradient(left, #ffffff 0%,#ed1b24 48%,#ed1b24 52%,#ffffff 100%);
  background: linear-gradient(to right, #ffffff 0%,#ed1b24 48%,#ed1b24 52%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -moz-transform: rotate(-45deg);
  -moz-transform-origin: 0 0;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 0 0;

}

#repgsapp-wrapper{
  display:block;
  font-family:'Avenir Next LT W01 Demi';
}

#repgsapp-wrapper main.content{
  float:left;
}


/* Header elements */
#fetch-button{
  position:fixed;
  top:10px;
  right:10px;
  font-size:14px;
}

#repgsapp-wrapper header{
  width:100%;
  font-size:24px;
  float:left;
}


#repgsapp-wrapper #nav1{
  position:fixed;
  top:20px;
  left:20px;
  margin:0;
  padding:0;
  z-index:100;
}

#repgsapp-wrapper #title{
  width:100%;
  position:fixed;
  top:20px;
  left:0;
  text-align:center;
  margin:0;
  padding:0;
  z-index:100;
}

#repgsapp-wrapper #title span {
    top: 0px;
    left: 0px;
}

#repgsapp-wrapper #subtitle{
  width:100%;
  text-align:center;
  position:fixed;
  bottom:40px;
  margin:0;
  padding:0;
  display:block;
  text-transform:uppercase;
}

#repgsapp-wrapper .titles{
  font-size:1.5em;
}

#repgsapp-wrapper #x{
  position:fixed;
  top:20px;
  right:20px;
  margin:0;
  padding:0;
  z-index:100;
}

#repgsapp-wrapper #nav1 ul{
  margin:0;
  padding:0;
  list-style:none;
}

#repgsapp-wrapper #nav1 ul .item{
  float:left;
  margin-right:10px;
}

#repgsapp-wrapper header #nav2{
  clear:both;
  float:left;
  display:block;
  width:98%;
  padding:0 1%;
  text-align:left;
}

#repgsapp-wrapper header #nav2 .nav-program{
  text-transform:uppercase;
  margin-right:5px;
  text-decoration:none;
}

#repgsapp-wrapper .marquee {
  position:relative;
  overflow:hidden;
  width:500px;
  height:50px;
}
#repgsapp-wrapper .marquee span {
  white-space:nowrap;
}


#repgsapp-wrapper .shelf {
  height: 40px;
  width: 100%;
  position: relative;
}
#repgsapp-wrapper .inside {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0px;
  top: 0px;
  width:90%;
  white-space: nowrap;
  overflow-x: hidden;
}

#repgsapp-wrapper .scroll-arrow {
  width: 5%;
  height: 100%;
  font-size:2em;
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 199;
  color:black;
  text-decoration:none;
  vertical-align:middle;
  text-align:center;
}

#repgsapp-wrapper .left { left: 0;}
#repgsapp-wrapper .right { right: 0;}

#repgsapp-wrapper .content {
  display: inline-block;
  height: 100%;
  margin-right: 10px;
}



/* Main elements */

#repgsapp-wrapper main{
  margin-top:40px;
  height:400px;
}

.slick-list{
  width:100%;
}

.owl-carousel{
  height:400px;
}

#repgsapp-wrapper main .owl-carousel img{
  height: 400px;
  overflow-x:hidden;
}

#repgsapp-wrapper main .owl-carousel .item{
  margin-left:3px;
  margin-right:3px;
}

/* Edit pages */


#repgsapp-wrapper.edit-page{

}


#repgsapp-wrapper.edit-page #header-top,
#repgsapp-wrapper.edit-page #header-bottom{
  width:100%;
  height:80px;
  margin:0;
  padding:0;
}

#repgsapp-wrapper.edit-page #header-bottom .menu{
  display:block;
  margin:0 auto;
  text-align:center;
  clear:both;
}

#repgsapp-wrapper.edit-page #header-bottom .menu .item{
  display:inline-block;
}

#repgsapp-wrapper.edit-page #header-bottom .menu .item a{
  padding:5px 3px 0;
  margin:0 1px;
  text-decoration:none;
  border-bottom:2px dotted;
  color:#222;
}

#repgsapp-wrapper.edit-page #header-bottom .menu .item.selected a{
  border:2px dotted;
}

#repgsapp-wrapper.edit-page main.content{
  font:14px/17px Arial, Helvetica, sans-serif;
  font-weight:bold;
}


.edit-grid{

}

.edit-grid .item{
  width:250px;
  height:750px;
  float:left;
  margin:10px;
  display:block;
  overflow-x:hidden;
}

.edit-grid .item img{
  width:250px;
  height:auto;
  margin-bottom:7px;
}

.controls-float{
  text-align:left;
  display:inline-block;
  margin-right:5px;
}



/* Slick carousel */

#carousel{
  width:130%;
  position:relative;
  left:-15%;
}

#carousel .image{
  position:relative;
}

#carousel .image label{
  text-transform:uppercase;
  font-size:2em;
  position:absolute;
  z-index:100;
  top:48%;
  width:100%;
  text-align:center;
}

.slick-slide .image{
  padding: 10px;
}

.slick-slide img {
  display: block;
  width: 100%;
}
