.front #wrapper{
  margin-left: 400px;
}

.front #tmpltzr{
  max-width:100%;
}

#repgsapp-wrapper{
  background-color: yellow;
}

#repgsapp-wrapper header{
  height:60px;
  width:100%;
}

#repgsapp-wrapper .controls{
  list-style:none;
  clear:both;
  margin-left:20px;
}

#repgsapp-wrapper .controls .item{
  float:left;
}

#repgsapp-wrapper main{
  margin-top:40px;
  height:400px;
}

.owl-carousel{
  height:400px;
}

#repgsapp-wrapper main .owl-carousel img{
  height: 400px;
  overflow-x:hidden;
}

#repgsapp-wrapper main .owl-carousel .item{
  margin-left:3px;
  margin-right:3px;
}
