$red:			#ED1B24;
$red-orange:	#F37020;
$orange: 		#F89F1C;
$pink:			#F596C0;
$salmon:		#F7B1A9;
$blue:			#6299D3;
$blue-alt:		#0091D5;
$purple:		#2F3192;
$violet:		#792D80;
$fuchsia:		#B61E8D;
$red-purple:	#EE1067;

.red { 
	color: $red; 
	stroke: $red; 
	fill: $red;
}
.red-orange { 
	color: $red-orange; 
	stroke: $red-orange; 
	fill: $red-orange;
}
.orange { 
	color: $orange; 
	stroke: $orange; 
	fill: $orange;
}
.pink { 
	color: $pink; 
	stroke: $pink; 
	fill: $pink;
}
.salmon { 
	color: $salmon; 
	stroke: $salmon; 
	fill: $salmon;
}
.blue { 
	color: $blue; 
	stroke: $blue; 
	fill: $blue;
}
.blue-alt { 
	color: $blue-alt; 
	stroke: $blue-alt; 
	fill: $blue-alt;
}
.purple { 
	color: $purple; 
	stroke: $purple; 
	fill: $purple;
}
.violet { 
	color: $violet; 
	stroke: $violet; 
	fill: $violet;
}
.fuchsia { 
	color: $fuchsia; 
	stroke: $fuchsia; 
	fill: $fuchsia;
}
.red-purple { 
	color: $red-purple; 
	stroke: $red-purple; 
	fill: $red-purple;
}