@import "vars";
@import "normalize";

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
}

body { 
	overflow-x: hidden;
}

header {
	padding: 20px 0;
	text-align: center;
}

@mixin gradient($color) {
	height: 9999px;
	left: -50%;
	position: fixed;
	top: -50%;
	width: 100%;

	transform: rotate(-45deg);
	transform-origin: 50% 0;
	-moz-transform: rotate(-45deg);
	-moz-transform-origin: 50% 0;
	-webkit-transform: rotate(-45deg);
	-webkit-transform-origin: 50% 0;
	transition: opacity 5s;
	-webkit-transition: opacity 5s;
	-moz-transition: opacity 5s;

	background: #ffffff;
	background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 10%, $color 48%, $color 52%, #ffffff 90%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(48%,$color), color-stop(52%,$color), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 10%,$color 48%,$color 52%,#ffffff 90%, #ffffff 100%);
	background: -o-linear-gradient(left, #ffffff 0%, #ffffff 10%,$color 48%,$color 52%,#ffffff 90%, #ffffff 100%);
	background: -ms-linear-gradient(left, #ffffff 0%, #ffffff 10%,$color 48%,$color 52%,#ffffff 90%, #ffffff 100%);
	background: linear-gradient(to right, #ffffff 0%, #ffffff 10%,$color 48%,$color 52%,#ffffff 90%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );	
}

.gradient { @include gradient($red); } // red is default
.gradient.gradient-red { @include gradient($red); }
.gradient.gradient-red-orange { @include gradient($red-orange); }
.gradient.gradient-orange { @include gradient($orange); }
.gradient.gradient-pink { @include gradient($pink); }
.gradient.gradient-salmon { @include gradient($salmon); }
.gradient.gradient-blue { @include gradient($blue); }
.gradient.gradient-blue-alt { @include gradient($blue-alt); }
.gradient.gradient-purple { @include gradient($purple); }
.gradient.gradient-violet { @include gradient($violet); }
.gradient.gradient-fuchsia { @include gradient($fuchsia); }
.gradient.gradient-red-purple { @include gradient($red-purple); }

.gradient.faded { opacity: 0; }

.chart-label {
	text-transform: uppercase;
}

#stats {
	display: block;
	// cursor: move;
	margin: 0 auto;
	top: 20px;
}