  <div id="header-top">
    <div id="nav1">
      <ul>
        <li id="analytics" class="item"><a href="#"><img src="img/analytics.jpg" /></a></li>
        <li id="about" class="item"><a href="#"><img src="img/question.jpg" /></a></li>
      </ul>
    </div><!-- /#nav1 -->

    <h1 id="title" class="titles">REPRESENT GSAPP</h1>

    <div id="x">X</div>

  </div><!-- /#header-top -->
