  <div id="header-top">
    <div id="nav1">
      <ul>
        <li id="analytics" class="item"><a href="#"><img src="img/analytics.png"></a></li>
        <li id="about" class="item"><a href="#"><img src="img/about.png"></a></li>
      </ul>
    </div><!-- /#nav1 -->

    <div id="title"><img src="/img/RepGSAPPLOGOTYPE.gif"></div>

    <div id="x"><img src="/img/x.gif"></div>

  </div><!-- /#header-top -->
 
