<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<% include head %>


    <body id="home">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="gradient gradient-red"></div>

        <div id="repgsapp-wrapper" class="edit-page">

          <header>
            <% include header-top %>
            <% include header-bottom %>
          </header>

          <main>
            <div id="carousel">

            </div>

          </main>



        </div><!-- #repgsapp-wrapper -->


        <% include scripts %>

        <script>

          $(window).on("resize", function() {
            $("#carousel .prev, #carousel .next").imggrayscale("resize");
          });

          //load images into current
          function loadImages(){
            // if images not loaded, go get them

              var current_program = $('#carousel .current').attr('data-program');


              $.get( "/api/get/program/" + current_program, function( data ) {

                for(var i = 0; i < data.images.length; i++){
                  $("#carousel ." + current_program).append('<li class="image"><img src="'+ data.images[i].content.images.standard_resolution.url +'"></li>');
                }

                $('#carousel .current').addClass('loaded');
              }); //end get
          }


          // handler for when user clicks previous image in carousel
          function clickPrev(){
            $('body').scrollTop(0)
            $('#carousel .next').removeClass('next').unbind('click').hide();

            if( $(this).prev().length > 0 ){
              var $prev = $(this).prev();
              $prev.addClass('prev').show();
              $prev.find('img').imggrayscale({hoverShowOrigin: true});
            }

            $('#carousel .current').removeClass('current').addClass('next').find('img').imggrayscale({hoverShowOrigin: true});

            $(this).removeClass('prev').addClass('current').unbind('click').find('img').imggrayscale("destroy");

            $('#carousel .prev').click(clickPrev);//end click function prev
            $('#carousel .next').click(clickNext);//end click function next

            // if images not loaded, go get them
            if( !$('#carousel .current').hasClass('loaded') ){
              loadImages();
            }//end if not loaded

          }//end function clickPrev()


          // handler for when user clicks next image in carousel
          function clickNext(){
            $('body').scrollTop(0)
            $('#carousel .prev').removeClass('prev').unbind('click').hide();

            if( $(this).next().length > 0 ){
              console.log('.next() > 0');
              var $next = $(this).next();
              $next.addClass('next').show();
              $next.find('img').imggrayscale({hoverShowOrigin: true});
            }

            $('#carousel .current').removeClass('current').addClass('prev').find('img').imggrayscale({hoverShowOrigin: true});

            $(this).removeClass('next').addClass('current').unbind('click').find('img').imggrayscale("destroy");

            $('#carousel .prev').click(clickPrev);//end click function prev
            $('#carousel .next').click(clickNext);//end click function next

            // if images not loaded, go get them
            if( !$('#carousel .current').hasClass('loaded') ){
              loadImages();
            }//end if not loaded

          }//end function clickNext()



          $(document).ready(function(){

            var programs = [];


            // dynamically load image content into custom carousel
            $.get( "/api/get/featured", function( images ) {

              console.log('featured');

              var start = Math.floor( Math.random()*(images.length-2) );
              var end = start + 2;

              // extract programs from array
              for(var i = 0; i < images.length; i++){
                programs.push( images[i].programs[0] );

                switch(i){
                  case start:
                    console.log('i = start');
                    $("#carousel").append('<ul data-program="'+images[i].programs[0]+'" class="item prev '+ images[i].programs[0] +'"><li class="image featured"><img src="'+ images[i].content.images.standard_resolution.url +'"></li></ul>');
                    break;

                  case (start + 1):
                    $("#carousel").append('<ul data-program="'+images[i].programs[0]+'" class="item current '+ images[i].programs[0] +'"><li class="image featured"><img src="'+ images[i].content.images.standard_resolution.url +'"></li></ul>');
                    break;

                  case end:
                    $("#carousel").append('<ul data-program="'+images[i].programs[0]+'" class="item next '+ images[i].programs[0] +'"><li class="image featured"><img src="'+ images[i].content.images.standard_resolution.url +'"></li></ul>');
                    break;

                  default:
                    $("#carousel").append('<ul data-program="'+images[i].programs[0]+'" style="display:none;" class="item '+ images[i].programs[0] +'"><li class="image featured"><img src="'+ images[i].content.images.standard_resolution.url +'"></li></ul>');
                    break;
                }//end switch
              }// end for


              // populate programs nav (nav2)
              console.log('programs:');
              console.dir(programs);
              for(var p = 0; p < 12; p++){
                var html = '';
                if(p = (start + 1)){
                  html = '<a class="nav-program titles content highlight '+ programs[p] +'" href="#" target="_self">'+ programs[p] +'</a>';
                }else{
                  html = '<a class="nav-program titles content '+ programs[p] +'" href="#" target="_self">'+ programs[p] +'</a>';
                }
                $('#nav2 .inside').append( html );
                console.log('appended; p=:' + p);
              }


              $('#carousel .prev').click(clickPrev).find('img').imggrayscale({hoverShowOrigin: true});;//end click function prev
              $('#carousel .next').click(clickNext).find('img').imggrayscale({hoverShowOrigin: true});;//end click function next

              // load images into .current
              loadImages();


            });// end first get




            console.log('programs: ');
            console.dir(programs);


          });
        </script>
    </body>
</html>
