<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<% include head %>


    <body id="landing">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="gradient gradient-red"></div>

        <div id="repgsapp-wrapper" class="edit-page">

          <header>
            <% include header-top %>
            <% include header-bottom %>
          </header>

          <main>
            <div id="carousel">

            </div>

          </main>



        </div><!-- #repgsapp-wrapper -->


        <% include scripts %>

        <script>

          function makeGreyscale(imgObj) {
            var canvas = document.createElement('canvas');
            var canvasContext = canvas.getContext('2d');

            var imgW = imgObj.width;
            var imgH = imgObj.height;
            canvas.width = imgW;
            canvas.height = imgH;

            canvasContext.drawImage(imgObj, 0, 0);
            var imgPixels = canvasContext.getImageData(0, 0, imgW, imgH);

            for(var y = 0; y < imgPixels.height; y++){
                for(var x = 0; x < imgPixels.width; x++){
                    var i = (y * 4) * imgPixels.width + x * 4;
                    var avg = (imgPixels.data[i] + imgPixels.data[i + 1] + imgPixels.data[i + 2]) / 3;
                    imgPixels.data[i] = avg;
                    imgPixels.data[i + 1] = avg;
                    imgPixels.data[i + 2] = avg;
                }
            }
            canvasContext.putImageData(imgPixels, 0, 0, 0, 0, imgPixels.width, imgPixels.height);
            return canvas.toDataURL();
          }

          function clickPrev(){
              console.log('clicked prev');

              $('#carousel .next').removeClass('next').unbind('click').hide(200);

              if( $(this).prev().length > 0 ){
                $(this).prev().addClass('prev').show(200);
                makeGreyscale( $('img', this).eq(0) );
              }

              $('#carousel .current').removeClass('current').addClass('next');

              $(this).removeClass('prev').addClass('current').unbind('click');

              $('#carousel .prev').click(clickPrev);//end click function prev
              $('#carousel .next').click(clickNext);//end click function next
          }//end function clickPrev()

          function clickNext(){
              console.log('clicked next');

              $('#carousel .prev').removeClass('prev').unbind('click').hide(200);
              if( $(this).next().length > 0 ){
                $(this).next().addClass('next').show(200);
                makeGreyscale( $('img', this).eq(0) );
              }

              $('#carousel .current').removeClass('current').addClass('prev');

              $(this).removeClass('next').addClass('current').unbind('click');

              $('#carousel .prev').click(clickPrev);//end click function prev
              $('#carousel .next').click(clickNext);//end click function next
          }//end function clickNext()

          $(document).ready(function(){

            var programs = [];

            $.get( "/api/get/featured", function( images ) {

              var start = Math.floor( Math.random()*(images.length-2) );
              var end = start + 2;

              // extract programs from array
              for(var i = 0; i < images.length; i++){
                programs.push( images[i].programs[0] );

                switch(i){
                  case start:
                    console.log('i = start');
                    $("#carousel").append('<div class="item prev '+ images[i].programs[0] +'"><div class="image"><img src="'+ images[i].content.images.standard_resolution.url +'"><label>'+ images[i].programs[0] +'</label></div></div>');
                    break;

                  case (start + 1):
                    $("#carousel").append('<div class="item current '+ images[i].programs[0] +'"><div class="image"><img src="'+ images[i].content.images.standard_resolution.url +'"><label>'+ images[i].programs[0] +'</label></div></div>');
                    break;

                  case end:
                    $("#carousel").append('<div class="item next '+ images[i].programs[0] +'"><div class="image"><img src="'+ images[i].content.images.standard_resolution.url +'"><label>'+ images[i].programs[0] +'</label></div></div>');
                    break;

                  default:
                    $("#carousel").append('<div style="display:none;" class="item '+ images[i].programs[0] +'"><div class="image"><img src="'+ images[i].content.images.standard_resolution.url +'"><label>'+ images[i].programs[0] +'</label></div></div>');
                    break;
                }//end switch
              }// end for


              $('#carousel .prev').click(clickPrev);//end click function prev
              $('#carousel .next').click(clickNext);//end click function next


            });// end get




            console.log('programs: ');
            console.dir(programs);


          });
        </script>
    </body>
</html>
