<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<% include head %>


    <body id="landing">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="gradient gradient-red"></div>

        <div id="repgsapp-wrapper" class="edit-page">

          <header>
            <% include header-top %>
            <% include header-bottom %>
          </header>

          <main>
            <div id="carousel">

            </div>

          </main>



        </div><!-- #repgsapp-wrapper -->


        <% include scripts %>

        <script>
          $(document).ready(function(){

            var programs = [];

            $.get( "/api/get/featured", function( images ) {

              var start = Math.floor( Math.random()*(images.length-2) );
              var end = start + 2;

              // extract programs from array
              for(var i = 0; i < images.length; i++){
                programs.push( images[0].programs[0] );

                if((i >= start) && (i <= end)){
                  console.log('<div class="item '+ images[0].programs[0] +'"><div class="image"><img data-lazy="'+ images[0].content.images.standard_resolution.url +'"><label>'+ images[0].programs[0] +'</label></div></div>');

                  $("#carousel").append('<div class="item '+ images[0].programs[0] +'"><div class="image"><img data-lazy="'+ images[0].content.images.standard_resolution.url +'"><label>'+ images[0].programs[0] +'</label></div></div>');

                }
              }// end for

              console.log('programs: ');
              console.dir(programs);


            });// end original get


          });
        </script>
    </body>
</html>
