<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<% include head %>


    <body id="landing" class="gradient">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <div id="repgsapp-wrapper" class="edit-page">

          <% include header %>

          <main>
            <ul id="carousel">

            </ul>

          </main>


        </div><!-- #repgsapp-wrapper -->


        <% include scripts %>

        <script>
          $(document).ready(function(){

            $.get( "/api/get/programs", function( programs ) {

              var max_count = programs.length;//to determine when to trigger owl-carousel
              var counter = 0;

              // build up carousel with dummy containers
              for(var p = 0; p < programs.length; p++){
                $("#carousel").prepend('<li class="item ' + programs[p] + '"><img src=""></li>');
              }//end for


              for(var p = 0; p < programs.length; p++){

                $.get( "/api/get/program/" + programs[p], function( data ) {
                  console.log();
                  console.log(data.program);

                  if(data.images[0] != undefined){
                    console.log('$: ' + "#carousel ." + data.program + ' img');
                    console.log(data.images[0].content.images.standard_resolution.url);
                    $("#carousel ." + data.program + ' img').attr('src', data.images[0].content.images.standard_resolution.url);
                  }
                  counter++;

                  if(counter >= max_count){
                    $("#carousel").owlCarousel({
                      items : 3,
                      slideSpeed : 1000,
                      autoPlay : true,
                      stopOnHover : true,
                      responsive: true,
                      responsiveRefreshRate : 200,
                      responsiveBaseWidth: '#repgsapp-wrapper',
                      itemsScaleUp: true

                    });
                  }
                });
              }// end for
            });// end original get


          });
        </script>
    </body>
</html>
